.red-code-inc{
    content:url("./logo/uploads/Red-Code-INC-Logo2.png");
}
.red-script{
    content:url("./logo/uploads/Red-Script-Logo2.png");
}
.red-css{
    width:12px;
    content:url("./logo/uploads/REDCSSLOGO.png");
}
.red-icons{
    width:12px;
    content:url("./logo/uploads/Red-Icons-FAVICON.png");
}